name: build

on:
  push:
    branches: [ main ]
    paths:
    - '**.cs'
    - '**.csproj'
    - '**.xaml'
  pull_request:
    branches: [ main ]
    paths:
    - '**.cs'
    - '**.csproj'
    - '**.xaml'

env:
  DOTNET_VERSION: '8.0.x' # The .NET SDK version to use

jobs:
  build:

    name: Build All Projects
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        project:
        - eShopOnContainers
        - eShopOnContainers.UnitTests
        
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
        
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.1
      with:
        vs-prerelease: true
    
    - name: Install .NET workloads
      shell: pwsh
      run: |
        dotnet workload install maui
      
    - name: Build ${{ matrix.project }}
      run: dotnet build "${{ matrix.project }}/${{ matrix.project }}.csproj"
